@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using Syncfusion.Blazor.Toolkit.Inputs;
@using Syncfusion.Blazor.Toolkit.Buttons;
@using Syncfusion.Blazor.Toolkit.Calendars.Internal;
@namespace Syncfusion.Blazor.Toolkit.Calendars
@typeparam TValue
@inherits CalendarBase<TValue>

<SfInputBase>
    <CascadingValue Value="this">
        @if (this.FloatLabelType == FloatLabelType.Auto || this.FloatLabelType == FloatLabelType.Always)
        {
            <div @ref="@ContainerElement" class="@ContainerClass?.Trim()" @attributes="ContainerHtmlAttributes">
                <input @ref="@InputElement" id="@ID" @attributes="InputHtmlAttributes" aria-label="datepicker" value="@( CalendarMode == CalendarType.Islamic ? IslamicValueAsString :CurrentValueAsString)" @onchange="@OnChangeHandlerAsync" @onfocus="@OnFocusHandlerAsync" @oninput="@OnInputHandlerAsync" @onkeydown="@OnInputKeyDownAsync" @onblur="@OnBlurHandlerAsync"/>
                <span class="e-float-line"></span>
                <label class="@FloatLabel?.Trim()" id="label_@(ID)" for="@(ID)">@this.Placeholder</label>
                @if (this.ShowClearButton && !this.Readonly)
                {
                    <span class="@(ClearIconClass)" aria-label="@Localizer["Close"]" role="button" @onclick="@WireClearBtnEventsAsync" @onmousedown="@InvokeClearBtnEventAsync" @ontouchstart="@InvokeClearBtnEventAsync" @onmousedown:preventDefault="@ClickStopPropagation" @ontouchstart:preventDefault="@ClickStopPropagation"></span>
                }
                <span class="@(GROUPICON + SPACE + DateIcon)" @onmousedown="@((args) => MouseIconHandlerAsync(args, DATEICONCLASS))" @onmousedown:preventDefault=@(!IsDevice)></span>
            </div>
        }
        else
        {
            <span @ref="@ContainerElement" class="@ContainerClass?.Trim()" @attributes="ContainerHtmlAttributes" >
                <input @ref="@InputElement" id="@ID" @attributes="InputHtmlAttributes" aria-label="datepicker" value="@( CalendarMode == CalendarType.Islamic ? IslamicValueAsString :CurrentValueAsString)" @onchange="@OnChangeHandlerAsync" @onfocus="@OnFocusHandlerAsync" @oninput="@OnInputHandlerAsync" @onkeydown="@OnInputKeyDownAsync" @onblur="@OnBlurHandlerAsync" />
                @if (this.ShowClearButton && !this.Readonly)
                {
                    <span class="@(ClearIconClass)" aria-label="@Localizer["Close"]" role="button" @onclick="@WireClearBtnEventsAsync" @onmousedown="@InvokeClearBtnEventAsync" @ontouchstart="@InvokeClearBtnEventAsync" @onmousedown:preventDefault="@ClickStopPropagation" @ontouchstart:preventDefault="@ClickStopPropagation"></span>
                }
                <span class="@(GROUPICON + SPACE + DateIcon)" @onmousedown="@((args) => MouseIconHandlerAsync(args, DATEICONCLASS))" @onmousedown:preventDefault=@(!IsDevice)></span>
            </span>
        }
        @ChildContent
    </CascadingValue>
</SfInputBase>
@if (this.ShowPopupCalendar)
{
    <CascadingValue Value="@this">
        <div @ref="@PopupHolderEle" class="@POPUPHOLDER">
            <div @ref="@PopupElement" class="@RootClass @PopupContainer @POPUP" id="@(ID)_popup" role="dialog" aria-label="datepicker" aria-modal='@(IsDevice && !IsExtendedDevicePopup() ? "true" : null)'>
                <div class="@CalendarClass">
                    @if (this.IsDevice)
                    {
                        <div class="@MODELHEADER">
                            @if(this.IsExtendedDevicePopup())
                            {
                                <SfButton IconCss="e-popup-close e-toolkit-icons e-close" CssClass="e-mobile-clear e-flat" aria-label="@Localizer["Close"]" @onclick="@PopupCloseHandlerAsync"></SfButton>
                                <div class="e-day-wrapper">
                                    <span class="@MODELDAYCLASS">@this.ModelDay </span>
                                    <span class="@MODELMONTHCLASS">@this.ModelMonth</span>
                                </div>
                            }
                            else {
                                <h1 class="@MODELYEARCLASS">@this.ModelYear</h1>
                                <div>
                                    <span class="@MODELDAYCLASS">@this.ModelDay </span>
                                    <span class="@MODELMONTHCLASS">@this.ModelMonth</span>
                                </div>
                            }
                        </div>
                    }
                    @if(this.IsExtendedDevicePopup())
                    {
                        <div class="@CALENDARCELLCONTAINER">
                            <CascadingValue Value="@this" Name="ParentComponent">
                                <CalendarBaseRender @ref="CalendarBaseInstance" TValue="TValue" MultiSelection="false"></CalendarBaseRender>
                            </CascadingValue>
                        </div>
                    }
                    else
                    {
                        <CascadingValue Value="@this" Name="ParentComponent">
                            <CalendarBaseRender @ref="CalendarBaseInstance" TValue="TValue" MultiSelection="false" CalendarMode="@this.CalendarMode"></CalendarBaseRender>
                        </CascadingValue>
                    }
                </div>
            </div>
        </div>
    </CascadingValue>
}