@using Syncfusion.Blazor.Toolkit.Buttons

@namespace Syncfusion.Blazor.Toolkit.Tests.Buttons

<div class="sample">
    <SfButtonGroup>
        <Button IconCss="@IconCssPrimary" CssClass="@CssPrimary">View</Button>
        <Button IconCss="@starIconCss" CssClass="e-btn e-info">Edit</Button>
        <Button IconCss="@downloadIconCss" CssClass="e-btn e-danger">Delete</Button>
    </SfButtonGroup>
    <SfButtonGroup>
        <Button IconCss="@watchIconCss"></Button>
        <Button IconCss="@starIconCss"></Button>
        <Button IconCss="@downloadIconCss"></Button>
    </SfButtonGroup>
    <SfButtonGroup>
        <Button IconCss="@watchIconCss" IconPosition="@IconPositionPrimary">View</Button>
        <Button IconCss="@starIconCss" IconPosition="IconPosition.Right">Edit</Button>
        <Button IconCss="@downloadIconCss" IconPosition="IconPosition.Bottom">Copy</Button>
        <Button IconCss="@downloadIconCss" IconPosition="IconPosition.Left">Delete</Button>
    </SfButtonGroup>
</div>

@code{
    public string watchIconCss = "bg-icons e-btngrp-watch";
    public string starIconCss = "bg-icons e-btngrp-star";
    public string downloadIconCss = "bg-icons e-btngrp-download";
    [Parameter]
    public string IconCssPrimary { get; set; } = "bg-icons e-btngrp-watch";

    [Parameter]
    public string ButtonCssClassPrimary { get; set; } = "e-btn e-success";

    [Parameter]
    public IconPosition IconPositionPrimary { get; set; } = IconPosition.Top;

    [Parameter]
    public bool IsDisabledPrimary { get; set; } = true;

    [Parameter]
    public string RtlClassPrimary { get; set; } = "e-rtl";

    [Parameter]
    public string CssPrimary { get; set; } = "";

    [Parameter]
    public string CssSecondary { get; set; } = "";

    [Parameter]
    public string CssTertiary { get; set; } = "";

    [Parameter]
    public string CssQuaternary { get; set; } = "";
}