@page "/calendars/timepicker"

<PageTitle>TimePicker | ASP.NET Core Blazor OSS Components</PageTitle>

@using Syncfusion.Blazor.Toolkit.Calendars
@using Syncfusion.Blazor.Toolkit.Inputs

<Description>
	<Header>
		<h4>Blazor Toolkit TimePicker Component</h4>
	</Header>
	<Content>
		The Blazor <code>TimePicker</code> component offers an intuitive interface for selecting time values with adjustable intervals and format options. It includes min/max restrictions, customizable display, templates, and accessibility support for efficient time entry across devices.
	</Content>
</Description>

<CodePreview CodeSection="@DefaultCode">
	<PreviewSection>
		<SfTimePicker TValue="DateTime?" Width="300px" PlaceHolder="Select a time"></SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Time Format</h5>
	</Header>
	<Content>
		The TimePicker provides an option to customize the display format in the component using the <code>Format</code> property.
	</Content>
</Description>

<CodePreview CodeSection="@TimeFormatCode">
	<PreviewSection>
		<div>
			<SfTimePicker TValue="DateTime?" Width="300px" Value='@FormatTimeValue' Format="hh:mm tt" Placeholder="Format in 12 hours" FloatLabelType="@FloatLabelType.Always" />
			<div class="mt-3"></div>

			<SfTimePicker TValue="DateTime?" Width="300px" Value='@FormatTimeValue' Format="HH:mm" Placeholder="Format in 24 hours" FloatLabelType="@FloatLabelType.Always" />
			<div class="mt-3"></div>

			<SfTimePicker TValue="DateTime?" Width="300px" Value='@FormatTimeValue' Format="HH:mm:ss" Placeholder="Format with seconds" FloatLabelType="@FloatLabelType.Always" />
		</div>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Time Range</h5>
	</Header>
	<Content>
		TimePicker provides an option to select a time value within a specified range by using the <code>Min</code> and <code>Max</code> properties.
		The <code>Min</code> value should always be lesser than the <code>Max</code> value.
		The <code>Value</code> property depends on the <code>Min</code>/<code>Max</code> with respect to <code>StrictMode</code> property.
	</Content>
</Description>

<CodePreview CodeSection="@TimeRangeCode">
	<PreviewSection>
		<SfTimePicker TValue="DateTime?" Width="300px" Value='@TimeValue' Min='@MinVal' Max='@MaxVal' PlaceHolder="Select a time"></SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Step Interval</h5>
	</Header>
	<Content>
		The TimePicker component supports the <code>Step</code> property, which sets the gap between consecutive time options in the list.
		This makes time selection faster and more organized, helping users choose times in fixed intervals.
	</Content>
</Description>

<CodePreview CodeSection="@StepIntervalCode">
	<PreviewSection>
		<SfTimePicker TValue="DateTime?" Width="300px" Value='@TimeValue' Step="60" Format="HH:mm" PlaceHolder="Select a time" ShowClearButton="true"></SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
    <Header>
        <h5>Float Label</h5>
    </Header>
    <Content>
		<p>
			The TimePicker component supports different label display modes through the <code>FloatLabelType</code> property.
			This property controls how the label or placeholder text appears in relation to the input field.
		</p>
		<p>The floating label behavior can be configured with the following options:</p>
		<ul>
			<li><code>Auto</code>: The floating label appears above the input field when it is focused or has a value. This is the default state.</li>
			<li><code>Always</code>: The floating label always remains above the input field.</li>
			<li><code>Never</code>: The label never floats above the input field when the placeholder is available.</li>
		</ul>
    </Content>
</Description>

<CodePreview CodeSection="@FloatLabelCode">
    <PreviewSection>
        <div>
            <div><b>Auto</b></div>
			<SfTimePicker TValue="DateTime?" Width="300px" Placeholder="Select a time" FloatLabelType="@FloatLabelType.Auto" />
            <div class="mt-3"></div>

            <div><b>Always</b></div>
			<SfTimePicker TValue="DateTime?" Width="300px" Placeholder="Select a time" FloatLabelType="@FloatLabelType.Always" />
            <div class="mt-3"></div>

            <div><b>Never</b></div>
			<SfTimePicker TValue="DateTime?" Width="300px" Placeholder="Select a time" FloatLabelType="@FloatLabelType.Never" />
        </div>
    </PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Mask Support</h5>
	</Header>
	<Content>
		<p>
			The masking feature allows users to enter a time in the correct format, as specified by the <code>Format</code> property.
			This helps to ensure that the time is entered correctly and can also make it easier for users to understand how to enter the time. 
			The <code>EnableMask</code> property in the TimePicker component allows you to enable or disable the masking functionality.
			When enabled, the input field will be displayed as masked with a specific time format pattern for entering the time.
		</p>
		<p>
			The <code>TimePickerMaskPlaceholder</code> directive allows you to set custom placeholder text for each segment of the time format in a TimePicker component.
			This can be used to provide additional context or instructions to the user about the expected format for the input. 
			To use the directive, include it in the component’s configuration along with the EnableMask property.
		</p>
	</Content>
</Description>

<CodePreview CodeSection="@MaskCode">
	<PreviewSection>
		<SfTimePicker TValue="DateTime?" Width="300px" Format="hh:mm:ss tt" EnableMask="true" @bind-Value="@MaskTimeValue" ShowClearButton="true" Placeholder="Select a time">
			<TimePickerMaskPlaceholder Hour="hour" Minute="minute" Second="second"></TimePickerMaskPlaceholder>
		</SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>TimeOnly Support</h5>
	</Header>
	<Content>
		The <code>TimeOnly</code> type is a new type in .NET 6 that allows you to represent a time without a date component.
		To use it with the Blazor TimePicker component, set the type parameter to TimeOnly.
	</Content>
</Description>

<CodePreview CodeSection="@TimeOnlyCode">
	<PreviewSection>
		<SfTimePicker TValue="TimeOnly" Width="300px" @bind-Value="@Value" PlaceHolder="Select a time"></SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Strict Mode</h5>
	</Header>
	<Content>
		<p>
			The <code>StrictMode</code> property controls how typed input is validated against the configured Min and Max range.
			If the value is invalid, the component value sets to the previous value. 
			If the value is out of range, the component sets the time value to Min/Max value.
		</p>
		<p>
			The following example demonstrates the TimePicker in StrictMode with Min/Max range of 10:00 AM to 4:00 PM . 
			It allows to enter only valid time within the specified range.
		</p>
		<ul>
			<li>If you enter the out-of-range value like 8:00 PM, the value sets to the Max time 4:00 PM as the value 8:00 PM is greater than Max value of 4:00 PM.</li>
			<li>If you enter invalid time value like 9:00 tt, the value sets to the previous value.</li>
		</ul>
		<p>
			The following code demonstrates the DateTimePicker with <code>StrictMode</code> as <code>true</code>.
		</p>
	</Content>
</Description>

<CodePreview CodeSection="@StrictModeCode">
	<PreviewSection>
		<SfTimePicker TValue="DateTime?" Width="300px" Min="@StrictModeMinTime" Max="@StrictModeMaxTime" StrictMode=true Value="@StrictModeTimeValue" Placeholder="Select a time"></SfTimePicker>
	</PreviewSection>
</CodePreview>

<Description>
	<Header>
		<h5>Events</h5>
	</Header>
	<Content>
		<p>
			This sample demonstrates the list of events of the TimePicker component which will be triggered for appropriate <code>TimePicker</code> actions.
		</p>
		<p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Event Name</th>
						<th>Uses</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Blur</td>
						<td>Triggers when the input loses focus.</td>
					</tr>
					<tr>
						<td>ValueChange</td>
						<td>Triggers when the TimePicker value is changed.</td>
					</tr>
					<tr>
						<td>OnClose</td>
						<td>Triggers when the TimePicker popup is closed.</td>
					</tr>
					<tr>
						<td>OnOpen</td>
						<td>Triggers when the TimePicker popup is opened.</td>
					</tr>
					<tr>
						<td>Created</td>
						<td>Triggers when the TimePicker component is created.</td>
					</tr>
					<tr>
						<td>Destroyed</td>
						<td>Triggers when the TimePicker component is destroyed.</td>
					</tr>
					<tr>
						<td>Focus</td>
						<td>Triggers when the input element gets focus.</td>
					</tr>
					<tr>
						<td>OnItemRender</td>
						<td>Triggers while rendering each popup list item.</td>
					</tr>
				</tbody>
			</table>
		</p>
	</Content>
</Description>

<CodePreview CodeSection="@EventsCode">
	<PreviewSection>
		<div class="control-wrapper">
			<SfTimePicker TValue="DateTime?" Width="300px" Placeholder="Select a time" ShowClearButton="true" OnBlur="BlurHandler" ValueChange="ValueChangeHandler" OnFocus="FocusHandler"></SfTimePicker>
		</div>
		<div class="mt-3">
			<span class="example-label"><b>Triggered Event:</b> @_triggeredEvent</span>
		</div>
	</PreviewSection>
</CodePreview>

@code {
	//Default
	private string DefaultCode => @"<SfTimePicker TValue=""DateTime?"" Width=""300px"" PlaceHolder=""Select a time""></SfTimePicker>";

	//TimeFormat
	private string TimeFormatCode => 
@"<div>
	<SfTimePicker TValue=""DateTime?"" Width=""300px"" Value='@FormatTimeValue' Format=""hh:mm tt"" Placeholder=""Format in 12 hours"" FloatLabelType=""@FloatLabelType.Always"" />
	<div class=""mt-3""></div>

	<SfTimePicker TValue = ""DateTime?"" Width=""300px"" Value='@FormatTimeValue' Format=""HH:mm"" Placeholder=""Format in 24 hours"" FloatLabelType=""@FloatLabelType.Always"" />
	<div class=""mt-3""></div>

	<SfTimePicker TValue = ""DateTime?"" Width=""300px"" Value='@FormatTimeValue' Format=""HH:mm:ss"" Placeholder=""Format with seconds"" FloatLabelType=""@FloatLabelType.Always""/>
</div>

@code{
	public DateTime? FormatTimeValue { get; set; } = DateTime.Now;
}";
	public DateTime? FormatTimeValue { get; set; } = DateTime.Now;


	//TimeRange
	private string TimeRangeCode =>
@"<SfTimePicker TValue=""DateTime?"" Width=""300px"" Value='@TimeValue' Min='@MinVal' Max='@MaxVal' PlaceHolder=""Select a time""></SfTimePicker>

@code{
    public DateTime MinVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 09, 00, 00);
    public DateTime MaxVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 11, 30, 00);
    public DateTime? TimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 11, 00, 00);
}";
	public DateTime MinVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 09, 00, 00);
	public DateTime MaxVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 11, 30, 00);
	public DateTime? TimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 11, 00, 00);

	//StepInterval
	private string StepIntervalCode =>
@"<SfTimePicker TValue=""DateTime?"" Width=""300px"" Value='@TimeValue' Step=""60"" PlaceHolder=""Select a time"" ShowClearButton=""true""></SfTimePicker>

@code{
    public DateTime? TimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 11, 00, 00);
}";

	//FloatLabel
	private string FloatLabelCode =>
@"<div>
	<h6><b>Auto (default)</b></h6>
	<SfTimePicker TValue=""DateTime?"" Width=""300px"" Placeholder=""Select a time"" FloatLabelType=""@FloatLabelType.Auto"" />
	<div class=""mt-3""></div>

	<h6><b>Always</b></h6>
	<SfTimePicker TValue=""DateTime?"" Width=""300px"" Placeholder=""Select a time"" FloatLabelType=""@FloatLabelType.Always"" />
	<div class=""mt-3""></div>

	<h6><b>Never</b></h6>
	<SfTimePicker TValue=""DateTime?"" Width=""300px"" Placeholder=""Select a time"" FloatLabelType=""@FloatLabelType.Never"" />
</div>";

	//Mask
	private string MaskCode =>
@"<SfTimePicker TValue=""DateTime?"" Width=""300px"" Format=""hh:mm:ss"" EnableMask=""true"" @bind-Value=""@MaskTimeValue"" ShowClearButton=""true"" Placeholder=""Select a time"">
    <TimePickerMaskPlaceholder Hour=""hour"" Minute=""minute"" Second=""second""></TimePickerMaskPlaceholder>
</SfTimePicker>
code {
	public DateTime? MaskTimeValue { get; set; } = new DateTime(2022, 12, 11, 11, 30, 00);
}";
	public DateTime? MaskTimeValue { get; set; } = new DateTime(2022, 12, 11, 11, 30, 00);

	//TimeOnly
	private string TimeOnlyCode => @"<SfTimePicker TValue=""TimeOnly"" @bind-Value=""@Value"" PlaceHolder=""Select a time""></SfTimePicker>";
	public TimeOnly Value { get; set; } = new TimeOnly(12, 00, 00);

	//StrictMode
	private string StrictModeCode =>
@"<SfTimePicker TValue=""DateTime?"" Width=""300px"" Min=""@StrictModeMinTime"" Max=""@StrictModeMaxTime"" StrictMode=true Value=""@StrictModeTimeValue"" Placeholder=""Select a time""></SfTimePicker>

code{
    public DateTime StrictModeMinTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 08, 00, 00);
    public DateTime StrictModeMaxTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 16, 00, 00);
    public DateTime? StrictModeTimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 3, 00, 00);
}
";
	public DateTime StrictModeMinTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 08, 00, 00);
	public DateTime StrictModeMaxTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 16, 00, 00);
	public DateTime? StrictModeTimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 15, 3, 00, 00);

	//Events
	private string EventsCode =>
@"<div class=""control-wrapper"">
     <SfTimePicker TValue=""DateTime?"" Width=""300px"" Placeholder=""Select a time"" ShowClearButton=""true"" OnBlur=""BlurHandler"" ValueChange=""ValueChangeHandler"" OnFocus=""FocusHandler""></SfTimePicker>
 </div>
 <div class=""mt-3"">
     <span class=""example-label""><b>Triggered Event:</b> @_triggeredEvent</span>
 </div>

code {
    private string _triggeredEvent = string.Empty;
	public void BlurHandler(Syncfusion.Blazor.Toolkit.Calendars.BlurEventArgs args)
	{
	    _triggeredEvent = ""Blur event is triggered"";
	}

	public void ValueChangeHandler(ChangeEventArgs<DateTime?> args)
	
	    _triggeredEvent = ""ValueChange event is triggered"";
	}

	public void FocusHandler(Syncfusion.Blazor.Toolkit.Calendars.FocusEventArgs args)
	{
	    _triggeredEvent = ""Focus event is triggered"";
	}
}
<style>
    .control-wrapper {
        max-width: 275px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>";
	private string _triggeredEvent = string.Empty;
	public void BlurHandler(Syncfusion.Blazor.Toolkit.Calendars.BlurEventArgs args)
	{
		_triggeredEvent = "Blur event is triggered";
	}
	public void ValueChangeHandler(Syncfusion.Blazor.Toolkit.Calendars.ChangeEventArgs<DateTime?> args)
	{
		_triggeredEvent = "ValueChange event is triggered";
	}
	public void FocusHandler(object args)
	{
		_triggeredEvent = "Focus event is triggered";
	}
}
@* Styles for Events sample *@
<style>
	.control-wrapper {
		width: 300px;
		margin: 0 auto;
		padding: 50px 0px 0px;
	}
	.example-label {
		font-size: 14px;
		margin-bottom: 6px;
	}
</style>