@using Microsoft.AspNetCore.Components;
@using Syncfusion.Blazor.Toolkit.Calendars.Internal
@typeparam TValue
@inherits CalendarBase<TValue>
@namespace Syncfusion.Blazor.Toolkit.Calendars

<div id="@ID" @ref="Element" class="@RootClass" @attributes="_containerAttr" tabindex="@this.TabIndex">
    <CascadingValue Value="@this">
            <CalendarBaseRender @ref="@CalendarBase" TValue="TValue" CssClass="@this.CssClass" Disabled="@this.Disabled" MultiSelection="@this.IsMultiSelection" @bind-MultiValues="@this.Values" CalendarMode="@this.CalendarMode"></CalendarBaseRender>
        @ChildContent
    </CascadingValue>
</div>