@using Microsoft.AspNetCore.Components;
@using Syncfusion.Blazor.Toolkit.Internal;
@using Syncfusion.Blazor.Toolkit.Inputs;
@typeparam TValue
@namespace Syncfusion.Blazor.Toolkit.Inputs
@inherits SfInputBase<TValue>
<SfInputBase>
    <CascadingValue Value="this">
        @if (this.FloatLabelType == FloatLabelType.Auto || this.FloatLabelType == FloatLabelType.Always)
        {
            <div @ref="@ContainerElement" class="@ContainerClass?.Trim()" @attributes="ContainerHtmlAttributes">
                <input @ref="@InputElement" id="@ID" @attributes="InputHtmlAttributes"
                       value="@(string.IsNullOrEmpty(MinMaxValue) ? FormatValueAsString(InputTextValue!) : MinMaxValue)"
                       @onchange="@OnChangeHandlerAsync" @onfocus="@OnFocusHandlerAsync" @onwheel="OnMouseWheelAsync" @onwheel:preventDefault @onblur="@OnBlurHandlerAsync" />
                <span class="e-float-line"></span>
                <label class="@FloatLabel?.Trim()" id="label_@(ID)" for="@(ID)">@this.Placeholder</label>
                @if (this.ShowClearButton)
                {
                    <span class="@(ClearIconClass)" aria-label="close" role="button" @onclick="@WireClearBtnEventsAsync"
                          @onmousedown="@BindClearBtnEventsAsync" @ontouchstart="@BindClearBtnTouchEventsAsync"
                          @onmousedown:preventDefault="@ClickStopPropagation"
                          @ontouchstart:preventDefault="@ClickStopPropagation">
                    </span>
                }
                @if (this.SpinButton)
                {
                    <span class="@(GROUPICON + SPACE + SPINDOWN)" title="@DecrementTitle" aria-label="@DecrementTitle"
                          role="button" @onmousedown="@MouseDownOnSpinner" @onmouseup="@MouseUpOnSpinnerAsync"
                          @onmousedown:preventDefault="@IsSpinButtonChanged"
                          @onmouseup:preventDefault="@IsSpinButtonChanged"></span>
                    <span class="@(GROUPICON + SPACE + SPINUP)" title="@IncrementTitle" aria-label="@IncrementTitle"
                          role="button" @onmousedown="@MouseDownOnSpinner" @onmouseup="@MouseUpOnSpinnerAsync"
                          @onmousedown:preventDefault="@IsSpinButtonChanged"
                          @onmouseup:preventDefault="@IsSpinButtonChanged"></span>
                }
            </div>
        }
        else
        {
            <span @ref="@ContainerElement" class="@ContainerClass?.Trim()" @attributes="ContainerHtmlAttributes">
                <input @ref="@InputElement" id="@ID" @attributes="InputHtmlAttributes"
                       value="@(string.IsNullOrEmpty(MinMaxValue) ? FormatValueAsString(InputTextValue) : MinMaxValue)"
                       @onchange="@OnChangeHandlerAsync" @onfocus="@OnFocusHandlerAsync" @onwheel="OnMouseWheelAsync" @onwheel:preventDefault @onblur="@OnBlurHandlerAsync" />
                @if (this.ShowClearButton)
                {
                    <span class="@(ClearIconClass)" aria-label="close" role="button" @onclick="@WireClearBtnEventsAsync"
                          @onmousedown="@BindClearBtnEventsAsync" @ontouchstart="@BindClearBtnTouchEventsAsync"
                          @onmousedown:preventDefault="@ClickStopPropagation"
                          @ontouchstart:preventDefault="@ClickStopPropagation"></span>
                }
                @if (this.SpinButton)
                {
                    <span class="@(GROUPICON + SPACE + SPINDOWN)" title="@DecrementTitle" aria-label="@DecrementTitle"
                          role="button" @onmousedown="@MouseDownOnSpinner" @onmouseup="@MouseUpOnSpinnerAsync"
                          @onmousedown:preventDefault="@IsSpinButtonChanged"
                          @onmouseup:preventDefault="@IsSpinButtonChanged"></span>
                    <span class="@(GROUPICON + SPACE + SPINUP)" title="@IncrementTitle" aria-label="@IncrementTitle"
                          role="button" @onmousedown="@MouseDownOnSpinner" @onmouseup="@MouseUpOnSpinnerAsync"
                          @onmousedown:preventDefault="@IsSpinButtonChanged"
                          @onmouseup:preventDefault="@IsSpinButtonChanged"></span>
                }
            </span>
        }
        @ChildContent
    </CascadingValue>
</SfInputBase>