@using Syncfusion.Blazor.Toolkit.Charts
@using Syncfusion.Blazor.Toolkit.Tests
@using Syncfusion.Blazor.Toolkit.Charts.Internal
@using Bunit
@using Xunit
@inherits TestComponentBase

<SfFixture @ref="fixture" TestAsync="CheckingSharedTooltipEvent" Description="CheckingSharedTooltipEvent">
    <ComponentUnderTest>
        <div>
    <SfChart @ref="chart1" Title="Average Sales per Person" Width="900px" Height="450px" SharedTooltipRender="SharedTooltipEvent">
    <ChartArea>
        <ChartAreaBorder Width="0"></ChartAreaBorder>
    </ChartArea>
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Toolkit.ValueType.DateTime" LabelFormat="yyyy" IntervalType="IntervalType.Years" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
    </ChartPrimaryXAxis>
    <ChartPrimaryYAxis LabelFormat="{value}M" Title="Revenue (in Million)" Minimum="10" Maximum="80" RangePadding="ChartRangePadding.None" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
    </ChartPrimaryYAxis>
    <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
    <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></ChartCrosshairSettings>
    
        <ChartSeries DataSource="@ChartPoints" Name="John" XName="Period" Width="2" Opacity="1" YName="JohnRevenue" Type="ChartSeriesType.Line">
            <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true"></ChartMarker>
        </ChartSeries>
        <ChartSeries DataSource="@ChartPoints" Name="Andrew" XName="Period" Width="2" Opacity="1" YName="AndrewRevenue" Type="ChartSeriesType.Line">
            <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true"></ChartMarker>
        </ChartSeries>
        <ChartSeries DataSource="@ChartPoints" Name="Thomas" XName="Period" Width="2" Opacity="1" YName="ThamosRevenue" Type="ChartSeriesType.Line">
            <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true">
                <ChartDataLabel Visible="true">
                    <Template>
                                    @{
                                        var data = context as ChartDataPointInfo;
                                        <div>@data.Y</div>
                                    }
                    </Template>
                </ChartDataLabel>
            </ChartMarker>
        </ChartSeries>
    
    <ChartLegendSettings EnableHighlight="true"></ChartLegendSettings>
        </SfChart>
        </div>
    </ComponentUnderTest>
</SfFixture>

@code {

    SfFixture fixture { get; set; }
    SfChart chart1 { get; set; }
    bool isTooltipRendered = false;
    async Task CheckingSharedTooltipEvent(Fixture fixture)
    {
        var cut = fixture.GetComponentUnderTest<SfChart>();
        await Task.Delay(200);
        List<string> tooltipText = new List<string>();
        List<IPointInfo> pointInfo = new List<IPointInfo>();
        ISharedTooltipRenderEventArgs eventArgs1 = new ISharedTooltipRenderEventArgs() { Data = pointInfo, HeaderText ="Product A", Text = new List<string> { "Product A" } };
        chart1.SharedTooltipEventTriggeredAsync(eventArgs1);
        Assert.True(isTooltipRendered);
        Assert.Equal("Product A", eventArgs1.HeaderText);
        Assert.Equal("Product A", eventArgs1.Text[0]);
        List<IPointInfo> data = eventArgs1.Data;
        Assert.Equal(pointInfo, data);

        List<Touches> touches = new List<Touches>(){
        new Touches()
            {
                PageX = 100,
                PageY = 100,
                PointerId = 0
            }
        };
        Assert.Equal(100, touches[0].PageX);
        Assert.Equal(100, touches[0].PageY);
        Assert.Equal(0, touches[0].PointerId);
        ChartInternalMouseEventArgs mouseEventArgs = new ChartInternalMouseEventArgs()
            {
                ClientX = 100,
                ClientY = 100,
                PreventDefault = false,
                ID = "container1",
                Touches = touches,
                MouseX = 100,
                MouseY = 100,
                PointerId = 0,
                PointerType = "touch",
                Target = "container1",
                Type = "rightclick",
            };
        chart1.OnChartMouseRightClick(mouseEventArgs);
        mouseEventArgs.ChangedTouches = new ClientXY()
            {
                ClientX = 100,
                ClientY = 100
            };
        Assert.Equal(100, mouseEventArgs.ClientX);
        Assert.Equal(100, mouseEventArgs.ClientY);
        bool isPreventDefault = mouseEventArgs.PreventDefault;
        Assert.False(isPreventDefault);
        Assert.Equal("container1", mouseEventArgs.ID);
        Assert.Equal(100, mouseEventArgs.MouseX);
        Assert.Equal(100, mouseEventArgs.MouseY);
        Assert.Equal(0, mouseEventArgs.PointerId);
        Assert.Equal("touch", mouseEventArgs.PointerType);
        Assert.Equal("container1", mouseEventArgs.Target);
        Assert.Equal("rightclick", mouseEventArgs.Type);
        Assert.Equal(touches, mouseEventArgs.Touches);
        ClientXY changedTouches = mouseEventArgs.ChangedTouches;
        Assert.Equal(100, changedTouches.ClientX);
        Assert.Equal(100, changedTouches.ClientY);
        cut.SetParametersAndRender();

    }
    public List<TrackballChartData> ChartPoints { get; set; } = new List<TrackballChartData>
    {
        new TrackballChartData { Period = new DateTime(2000, 2, 11), JohnRevenue = 14, AndrewRevenue = 39, ThamosRevenue = 60 },
        new TrackballChartData { Period = new DateTime(2000, 9, 4), JohnRevenue = 20, AndrewRevenue = 30, ThamosRevenue = 55 },
        new TrackballChartData { Period = new DateTime(2001, 2, 11), JohnRevenue = 25, AndrewRevenue = 28, ThamosRevenue = 48 },
        new TrackballChartData { Period = new DateTime(2001, 9, 16), JohnRevenue = 21, AndrewRevenue = 35, ThamosRevenue = 57 },
        new TrackballChartData { Period = new DateTime(2002, 2, 7), JohnRevenue = 13, AndrewRevenue = 39, ThamosRevenue = 62 },
        new TrackballChartData { Period = new DateTime(2002, 9, 7), JohnRevenue = 18, AndrewRevenue = 41, ThamosRevenue = 64 },
        new TrackballChartData { Period = new DateTime(2003, 2, 11), JohnRevenue = 24, AndrewRevenue = 45, ThamosRevenue = 57 },
        new TrackballChartData { Period = new DateTime(2003, 9, 14), JohnRevenue = 23, AndrewRevenue = 48, ThamosRevenue = 53 },
        new TrackballChartData { Period = new DateTime(2004, 2, 6), JohnRevenue = 19, AndrewRevenue = 54, ThamosRevenue = 63 },
        new TrackballChartData { Period = new DateTime(2004, 9, 6), JohnRevenue = 31, AndrewRevenue = 55, ThamosRevenue = 50 },
        new TrackballChartData { Period = new DateTime(2005, 2, 11), JohnRevenue = 39, AndrewRevenue = 57, ThamosRevenue = 66 },
        new TrackballChartData { Period = new DateTime(2005, 9, 11), JohnRevenue = 50, AndrewRevenue = 60, ThamosRevenue = 65 },
        new TrackballChartData { Period = new DateTime(2006, 2, 11), JohnRevenue = 24, AndrewRevenue = 60, ThamosRevenue = 79 },
    };
    public class TrackballChartData
    {
        public DateTime Period { get; set; }
        public double JohnRevenue { get; set; }
        public double AndrewRevenue { get; set; }
        public double ThamosRevenue { get; set; }
    }
    void SharedTooltipEvent(SharedTooltipRenderEventArgs args)
    {
        isTooltipRendered = true;
    }
}

@{
    var InitialGroup2 = (new string[] { "CustomerID", "OrderID" });
}

    <SfFixture @ref="fixture2" TestAsync="CheckingChartData" Description="CheckingChartData">
    <ComponentUnderTest>
        <div>
    <SfChart ID="columnchart" @ref="chart2" Title="Average Sales per Person" Width="900px" Height="450px" OnPointClick="PointClickEvent2">
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Toolkit.ValueType.DateTime">
    </ChartPrimaryXAxis>
    
                    <ChartSeries DataSource="@ChartDataPoints" Name="John" XName="Period" YName="JohnRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
        </ChartSeries>
                    <ChartSeries DataSource="@ChartDataPoints" Name="Andrew" XName="Period" YName="AndrewRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
        </ChartSeries>
                    <ChartSeries DataSource="@ChartDataPoints" Name="Thomas" XName="Period" YName="ThamosRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
        </ChartSeries>
    
        </SfChart>
        </div>
    </ComponentUnderTest>
</SfFixture>

@code {

    SfFixture fixture2 { get; set; }
    SfChart chart2 { get; set; }
    bool isPointClicked2 = false;
    async Task CheckingChartData(Fixture fixture)
    {
        var cut = fixture.GetComponentUnderTest<SfChart>();
        await Task.Delay(200);
        List<Touches> touches = new List<Touches>();

        ChartInternalMouseEventArgs mouseEventArgs = new ChartInternalMouseEventArgs()
        {
            ClientX = 624,
            ClientY = 317,
            PreventDefault = false,
            ID = "columnchart",
            Touches = touches,
            MouseX = 342.00927734375,
            MouseY = 243.41204071044922,
            PointerId = 1,
            PointerType = "mouse",
            Target = "columnchart_Series_2_Point_4",
            Type = "click",
        };
        chart2.OnChartMouseClick(mouseEventArgs);
        Assert.True(isPointClicked2);
        cut.SetParametersAndRender();

    }
    void PointClickEvent2(PointEventArgs args)
    {
        isPointClicked2 = true;
    }

    public List<ChartDataFixture2> ChartDataPoints { get; set; } = new List<ChartDataFixture2>
    {
        new ChartDataFixture2 { Period = new DateTime(2000, 2, 11), JohnRevenue = 14, AndrewRevenue = 39, ThamosRevenue = 60 },
        new ChartDataFixture2 { Period = new DateTime(2000, 9, 4), JohnRevenue = 20, AndrewRevenue = 30, ThamosRevenue = 55 },
        new ChartDataFixture2 { Period = new DateTime(2001, 2, 11), JohnRevenue = 25, AndrewRevenue = 28, ThamosRevenue = 48 },
        new ChartDataFixture2 { Period = new DateTime(2001, 9, 16), JohnRevenue = 21, AndrewRevenue = 35, ThamosRevenue = 57 },
        new ChartDataFixture2 { Period = new DateTime(2002, 2, 7), JohnRevenue = 13, AndrewRevenue = 39, ThamosRevenue = 62 },
        new ChartDataFixture2 { Period = new DateTime(2002, 9, 7), JohnRevenue = 18, AndrewRevenue = 41, ThamosRevenue = 64 },
        new ChartDataFixture2 { Period = new DateTime(2003, 2, 11), JohnRevenue = 24, AndrewRevenue = 45, ThamosRevenue = 57 },
        new ChartDataFixture2 { Period = new DateTime(2003, 9, 14), JohnRevenue = 23, AndrewRevenue = 48, ThamosRevenue = 53 },
        new ChartDataFixture2 { Period = new DateTime(2004, 2, 6), JohnRevenue = 19, AndrewRevenue = 54, ThamosRevenue = 63 },
        new ChartDataFixture2 { Period = new DateTime(2004, 9, 6), JohnRevenue = 31, AndrewRevenue = 55, ThamosRevenue = 50 },
        new ChartDataFixture2 { Period = new DateTime(2005, 2, 11), JohnRevenue = 39, AndrewRevenue = 57, ThamosRevenue = 66 },
        new ChartDataFixture2 { Period = new DateTime(2005, 9, 11), JohnRevenue = 50, AndrewRevenue = 60, ThamosRevenue = 65 },
        new ChartDataFixture2 { Period = new DateTime(2006, 2, 11), JohnRevenue = 24, AndrewRevenue = 60, ThamosRevenue = 79 },
    };
    public class ChartDataFixture2
    {
        public DateTime Period { get; set; }
        public double JohnRevenue { get; set; }
        public double AndrewRevenue { get; set; }
        public double ThamosRevenue { get; set; }
    }
}

<SfFixture @ref="fixture2" TestAsync="CheckingColumnSharedTooltip" Description="CheckingColumnSharedTooltip">
    <ComponentUnderTest>
        <div>
            <SfChart ID="columnchart" @ref="chart3" Title="Average Sales per Person" Width="900px" Height="450px">
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Toolkit.ValueType.DateTime">
                </ChartPrimaryXAxis>
                
                    <ChartSeries DataSource="@ChartPoints" Name="John" XName="Period" YName="JohnRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
                    </ChartSeries>
                    <ChartSeries DataSource="@ChartPoints" Name="Andrew" XName="Period" YName="AndrewRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
                    </ChartSeries>
                    <ChartSeries DataSource="@ChartPoints" Name="Thomas" XName="Period" YName="ThamosRevenue" Type="ChartSeriesType.Column">
                        <ChartDataEditSettings Enable="true"></ChartDataEditSettings>
                    </ChartSeries>
                
                <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
            </SfChart>
        </div>
    </ComponentUnderTest>
</SfFixture>


@code {

    SfFixture fixture3 { get; set; }
    SfChart chart3 { get; set; }
    async Task CheckingColumnSharedTooltip(Fixture fixture)
    {
        var cut = fixture.GetComponentUnderTest<SfChart>();
        await Task.Delay(200);
        List<Touches> touches = new List<Touches>();

        ChartInternalMouseEventArgs mouseEventArgs = new ChartInternalMouseEventArgs()
        {
            ClientX = 624,
            ClientY = 317,
            PreventDefault = false,
            ID = "columnchart",
            Touches = touches,
            MouseX = 342.00927734375,
            MouseY = 243.41204071044922,
            PointerId = 0,
            Target = "columnchart_Series_2_Point_4",
            Type = "mousemove",
        };

        chart3.OnZoomingMouseMove(mouseEventArgs);
        Assert.True(true);
        cut.SetParametersAndRender();

    }
}