@namespace Syncfusion.Blazor.Toolkit.Buttons
@inherits SfBaseComponent

@if (ButtonGroup?.Mode == SelectionMode.None)
{
    if (ChildContent is null && string.IsNullOrEmpty(Content))
    {
        <SfButton CssClass="@CssClass" IconCss="@IconCss" Disabled="Disabled" IsToggle="IsToggle" @attributes="@HtmlAttributes"></SfButton>
    }
    else if (ChildContent is not null)
    {
        <SfButton CssClass="@CssClass" IconCss="@IconCss" Disabled="Disabled" IsToggle="IsToggle" Content="@Content" @attributes="@HtmlAttributes">@ChildContent</SfButton>
    }
    else
    {
        <SfButton CssClass="@CssClass" IconCss="@IconCss" Disabled="Disabled" IsToggle="IsToggle" Content="@Content" @attributes="@HtmlAttributes"></SfButton>
    }
}
else
{
    var id = SfBaseUtils.GenerateID("SfButtonGroup"); 
    string title = "";
    if (HtmlAttributes is not null && HtmlAttributes.TryGetValue("title", out var titleValue))
    {
        title = titleValue?.ToString() ?? string.Empty;
    }

    string inputType = ButtonGroup?.Mode == SelectionMode.Single ? "radio" : "checkbox";

    <input type="@inputType"
           id="@id"
           name="@(string.IsNullOrEmpty(Name) ? ButtonGroup?._inputName : Name)"
           value="@(string.IsNullOrEmpty(Value) ? id : Value)"
           checked="@Selected"
           disabled="@Disabled"
           @attributes="HtmlAttributes">
       
       <label for="@id" class=@(string.IsNullOrEmpty(CssClass) ? "e-btn" : "e-btn " + CssClass) @onclick="ClickHandlerAsync" title="@title">
        @if (!string.IsNullOrEmpty(IconCss) && (IconPosition == IconPosition.Left || IconPosition == IconPosition.Top))
        {
            <span class="@IconCss e-btn-icon"></span>
        }
        @ChildContent
        @if (!string.IsNullOrEmpty(IconCss) && (IconPosition == IconPosition.Right || IconPosition == IconPosition.Bottom))
        {
            <span class="@IconCss"></span>
        }
    </label>
}
